@charset "UTF-8";

html{
  background-color: black;
}

body{
  background-color: black;

}

.cover {
  height: 250px;
  background-image: url("./cabecera.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  background-color: black;
  background-color: rgba(130, 130, 130, 25);
  background-blend-mode: darken;
}

.calendario {
  background-color: black;
  margin-top: 4px;
  
}

.titulo_calendario {
  color: crimson;
  margin-left: 3%;
  background-color: black;

}
.horarios{
  margin: 1px;
  background-color: black;
}

.foot {
  background-color: black;
}

.foot_text {
  color: white;
}

.video{
  margin-top: 5px;
}